<div class="board-wrapper">
  <h1 *ngIf="winner">
    Player <span class="player">{{ winner }}</span> won the game!
  </h1>
  <h1 *ngIf="!winner">
    <span class="player">{{ player }}</span> turn
  </h1>

  <main>
    <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)"
    >
    </app-square>
  </main>

  <button class="restart-button" (click)="newGame()">
    <span *ngIf="!winner">Restart Game</span>
    <span *ngIf="winner">New Game</span>
  </button>
</div>
